.father {
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 10px 20px;
  /* row-gap: 10px;
  column-gap: 20px; */

  flex-flow: row wrap; /* flex-direction, flex-wrap */
  align-content: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
