:root {
  --butter-red: #9d3830;
  --butter-blue: #243455;
  --butter-cream: #f0e1ca;
  --butter-yellow: #f7d488;
  --butter-green: #2e4a3b;
  --light-red: #f7bfb4;
  --light-blue: #a8d0e6;
  --light-cream: #fefcf0;
  --light-yellow: #f7e9b4;
  --light-green: #b5d8c6;
}

.father {
  background-color: var(--light-cream);
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(300px, 500px));
}

.child {
  background-color: var(--butter-red);
  color: var(--light-cream);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
