.father {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; /* flex-direction, flex-wrap */
}

.box {
  height: 200px;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flex-grow */
/* flex 컨테이너 자식들에게 얼마만큼의 공간을 차지할 수 있는지 비율로 말해줌 */
.box:first-child {
  background-color: tomato;
  flex-grow: 1;
}

.box:last-child {
  background-color: teal;
  flex-grow: 2;
}
