:root {
  --butter-red: #9d3830;
  --butter-blue: #243455;
  --butter-cream: #f0e1ca;
  --butter-yellow: #f7d488;
  --butter-green: #2e4a3b;
  --light-red: #f7bfb4;
  --light-blue: #a8d0e6;
  --light-cream: #fefcf0;
  --light-yellow: #f7e9b4;
  --light-green: #b5d8c6;
}

$bgColor: var(--light-cream);
$red: var(--butter-red);
$blue: var(--butter-blue);
$lightCream: var(--light-cream);
$yellow: var(--butter-yellow);

body {
  background-color: $bgColor;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 60px;
}

%alert {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px dashed #000;
  color: $lightCream;
}

.success {
  @extend %alert;
  background-color: $blue;
}

.warning {
  @extend %alert;
  background-color: $yellow;
}

.error {
  @extend %alert;
  background-color: $red;
}
